body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.topic {
    padding-top: 100px;
    padding-bottom: 5px;
}

.buttons {
    padding-top: 40px;
}

.smiley{
    width: 250px;
    height: auto;
    padding: 25px;
}

.result-list {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.good {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.neutral {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.negative {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}